/* Typography */
@font-face {
  font-family: 'Basier Circle';
  src: url('../fonts/basiercircle-regular-webfont.eot');
  src: url('../fonts/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-regular-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-regular-webfont.woff') format('woff'),
    url('../fonts/basiercircle-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('../fonts/basiercircle-semibold-webfont.eot');
  src: url('../fonts/basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-semibold-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-semibold-webfont.woff') format('woff'),
    url('../fonts/basiercircle-semibold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Post Box';
  src: url('../fonts/PostBox-Regular.woff2') format('woff2'),
    url('../fonts/PostBox-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
}

:root {
  --clr-base: #5d3eb2;
  --clr-base-light: #8559ff;
  --clr-base-ultralight: #ece5ff;
  --clr-base-dark: #422d80;
  --clr-base-darker: #281b4d;

  --clr-white: #fff;
  --clr-grey-ultralight: #f2f2f2;

  --clr-accent-one: #faed7a;
  --clr-accent-two: #49b0ad;
  --clr-accent-two-dark: #347d7b;
  --clr-accent-three: #ff7872;
  /*
  --clr-white: #fff;
  --clr-bglight: #f8ede0;
  --clr-primary-dark: #310a53;
  --clr-primary-action: #ff7272;
  --clr-note: #009669; */
}

::-moz-selection {
  background-color: var(--clr-base);
  color: var(--clr-accent-one);
}

::selection {
  background-color: var(--clr-base);
  color: var(--clr-accent-one);
}

body {
  font-family: 'Basier Circle', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 16px;
  color: var(--clr-base-darker);
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.mb--hidden {
  display: none !important;
}

.mb--visual {
  display: block !important;
}

.pill {
  display: inline-block;
  border-radius: 9999px;
  background-color: white;
  padding: 0.75rem 1rem;
  white-space: nowrap;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

.pill,
.pill:active,
.pill:focus,
.pill:hover,
.pill:link,
.pill:visited {
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.pill:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.navigation {
  text-align: center;
  background-color: var(--clr-base-dark);
  padding: 1rem;
}

.brand {}

.brand--link {}

.brand--logo {
  height: 3rem;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu--item {}

.menu--item--link {
  display: inline-block;
  padding: 0.75rem 1rem;
  white-space: nowrap;
  color: var(--clr-base-ultralight);
}

.menu--item--link__cta {
  background: var(--clr-accent-one);
  color: var(--clr-base-dark);
}

.hero {
  margin: 0;
  padding: 0;
  background-color: var(--clr-base);
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center center;
}

.hero--content {
  padding: 4rem 1.25rem;
  text-align: center;
  color: var(--clr-base-ultralight);
  margin: 0 auto;
  max-width: 880px;
}

.hero--title {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 2.75rem;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  color: var(--clr-white);
}

.hero--lead {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: -0.05rem;
}

.hero--link {}

.hero--link__cta {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin: 0 0 1rem 0;
  background-color: var(--clr-accent-one);
  color: var(--clr-base-dark);
  font-weight: bold;
  min-width: 335px;
}

.hero--small {
  font-size: 0.75rem;
  opacity: 0.65;
  line-height: 1.2;
}

.hero--note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px auto;
  max-width: 200px;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
  color: var(--clr-accent-three);
}

.hero--devider {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;

}

.hero--devider--image {
  width: 100%;
  height: auto;
}

.note--copy {
  text-align: center;
  font-family: 'Post Box', cursive;
  font-size: 1.5rem;
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.note--icon {
  width: 2.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.note--icon path {
  fill: var(--clr-accent-three);
}

.demo {}

.demo--title {
  margin: 0px auto;
  font-size: 2.375rem;
  text-align: center;
  max-width: 280px;
}

.demo--visual {
  width: 100%;
  padding: 0rem 1.25rem;
}

.features {}

.features--title {
  text-align: center;
  color: var(--clr-base);
}

.feature {
  background: var(--clr-base-ultralight);
}

.feature:nth-child(odd) {
  background: var(--clr-white);
}

.feature--visual {
  width: 100%;
}

.feature--header {
  padding: 0rem 1.25rem;
}

.feature--title {
  margin: 0;
}

.feature--content {
  padding: 0rem 1.25rem;
}

.feature--copy {}

.feature--footer {
  padding: 0rem 1.25rem 2.25rem 1.25rem;
}

.feature--link {
  font-weight: bold;
  color: var(--clr-base-light);
}

.feature--link__inline {}

.manifesto--visual {
  width: 4rem;
  margin-bottom: 2rem;
}

.manifesto {
  width: 100%;
  padding: 4rem 1.25rem;
  margin: 0;
  text-align: center;
  color: var(--clr-base-ultralight);
  background-image: url('../img/hero.jpg');
}

.manifesto--container {
  max-width: 880px;
}

.manifesto--title {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 2.75rem;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  color: var(--clr-accent-one);
}

.manifesto--lead {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: -0.05rem;
}

.subscribe {}

.subscribe--title {
  font-size: 1rem;
  text-align: center;
  color: var(--clr-base-light);
  margin: 4rem 0 0 0;
  padding: 0;
}

.subscribe--note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 4rem;
  font-size: 1.25rem;
  font-family: 'Post Box', cursive;
  margin: 0 2rem 2rem 2rem;
}

.subscribe--note .note--icon {
  width: 1rem;
  padding: 0.5rem;
}

.subscribe--note .note--icon path {
  fill: var(--clr-base-light);
}

.subscribe--form {
  text-align: center;
  padding-bottom: 4rem;
}

.form--email {
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding: .75rem 1.5rem;
  border: 1px solid var(--clr-base-ultralight);
  min-width: 335px;
  margin-bottom: 1rem;
}

.form--email:focus,
.form--email:active,
.form--submit:focus,
.form--submit:active {
  outline: none;
  border-color: var(--clr-base-light);
  -webkit-box-shadow: 0 0 1pt 1pt rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1pt 1pt rgba(0, 0, 0, 0.25);
}

.form--submit {
  min-width: 335px;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding: .75rem 1.5rem;
  border: 1px solid var(--clr-base);
  background: var(--clr-base);
  color: var(--clr-accent-one);
}

.form--copy {
  font-size: 0.75rem;
  opacity: 0.65;
  line-height: 1.2;
}

.footer {
  padding: 2rem;
  font-size: 0.8rem;
  background: var(--clr-base-darker);
  color: var(--clr-base-ultralight);
}

.footer--link {
  color: var(--clr-accent-one);
}


@media (min-width: 940px) {

  .mb--hidden {
    display: inherit !important;
  }

  .mb--visual {
    display: none !important;
  }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero--note {
    -webkit-transform: translate(-125%, -40%) rotate(16deg);
    -ms-transform: translate(-125%, -40%) rotate(16deg);
    transform: translate(-125%, -40%) rotate(16deg);
  }

  .hero--title {
    font-size: 4.5rem;
  }

  .hero--lead {
    font-size: 2rem;
  }

  .demo--title {
    font-size: 3.5rem;
    max-width: 880px;
  }

  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .feature--visual {
    width: 50%;
    max-width: 720px;
  }

  .feature--container {
    width: 50%;
    max-width: 720px;
  }

  .feature--title {
    font-size: 2.25rem;
  }

  .feature--copy {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .feature--link {

    font-size: 1.25rem;
  }

  .manifesto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .manifesto--title {
    font-size: 4.5rem;
  }

  .manifesto--lead {
    font-size: 2rem;
  }

  .subscribe--note {
    margin: 2rem auto;
    font-size: 4rem;
    padding: 0;
    line-height: 1;
    max-width: 880px;
  }

  .subscribe--note p {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .form--submit {
    margin-left: 1rem;
    min-width: auto;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 1280px) {}
